<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VSIM_VEFR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="VSIM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="VANET_SIM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <VSIM_VEFR.Properties.Settings>
            <setting name="IsIntialized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsSetMaxVehicles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxNumberOfVehicles" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WeightConnectivity" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="WeightShortestDistance" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="IntraVehiForwardDirectionPar" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="CommunicationRange" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="MaxSpeed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinSpeed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NumberofPackets" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Rows_net_top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Cols_net_top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HorizontalLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VerticalLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LaneCount_top_gen" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SliderValue" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaximumAttemps" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="MaxStoreTime" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="NetTopName" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="TraficSignalingTimerInterval" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DistanceImportance" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DistanceBetweenSourceAndDestination" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IntraVehiBackwardDirectionPar" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AccellerationType" serializeAs="String">
                <value>RandomSpeed</value>
            </setting>
            <setting name="PrintIntraInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PrintInterInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PacketGeneratedType" serializeAs="String">
                <value />
            </setting>
            <setting name="DisplayInfoFlag" serializeAs="String">
                <value />
            </setting>
            <setting name="RoutingProtocolString" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveVehiclesCrisp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveJunctionsCrisp" serializeAs="String">
                <value>False</value>
            </setting>
        </VSIM_VEFR.Properties.Settings>
        <VSIM.Properties.Settings>
            <setting name="IsIntialized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsSetMaxVehicles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxNumberOfVehicles" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WeightConnectivity" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="WeightShortestDistance" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="IntraVehiForwardDirectionPar" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="CommunicationRange" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="MaxSpeed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinSpeed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NumberofPackets" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Rows_net_top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Cols_net_top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HorizontalLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VerticalLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LaneCount_top_gen" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SliderValue" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaximumAttemps" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="MaxStoreTime" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="NetTopName" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="TraficSignalingTimerInterval" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DistanceImportance" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DistanceBetweenSourceAndDestination" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IntraVehiBackwardDirectionPar" serializeAs="String">
                <value>1</value>
            </setting>
        </VSIM.Properties.Settings>
        <VANET_SIM.Properties.Settings>
            <setting name="IsIntialized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsSetMaxVehicles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxNumberOfVehicles" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="WeightConn" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="WeightShortestDistance" serializeAs="String">
                <value>0.7</value>
            </setting>
            <setting name="IntraRDirectionPar" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="Ammar" serializeAs="String">
                <value>"a"</value>
            </setting>
        </VANET_SIM.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
